{% extends 'nba/base.html' %}
{% block content %}
<div class="container-fluid">
	<div class="jumbotron">
		<div class="d-flex flex-row justify-content-around">
			<div class="p-2">
				<div class="d-flex flex-row justify-content-center">
					<a id="scoreboard-road-team-url"><img id="scoreboard-road-logo" src=""></a>
				</div>
				<div class="d-flex flex-row justify-content-center">
					<p id="scoreboard-away-record"></p>
				</div>
			</div>
			<div class="p-2">
				<div class="d-flex flex-row justify-content-center">
					<p id="scoreboard-road-tm"></p>
				</div>

				<div class="d-flex flex-row justify-content-center">
					<p id="scoreboard-road-points"></p>
				</div>
			</div>
			<div class="p-2">
				<div class="d-flex flex-row">
					<span id="scoreboard-game-date"></span>
				</div>
				<div class="d-flex flex-row">
					<span id="scoreboard-game-winner"></span>
				</div>
				<div class="d-flex flex-row">
					<span id="scoreboard-game-loser"></span>
				</div>
				<div class="d-flex flex-row">
					<span id="scoreboard-game-save"></span>
				</div>
				<div class="d-flex flex-row">
					<span id="scoreboard-game-odds"></span>
				</div>
				<div class="d-flex flex-row">
					<span id="scoreboard-game-total"></span>
				</div>

			</div>
			<div class="p-2">
				<div class="d-flex flex-row justify-content-center">
					<p id="scoreboard-home-tm"></p>
				</div>

				<div class="d-flex flex-row justify-content-center">
					<p id="scoreboard-home-points"></p>
				</div>
			</div>
		    <div class="p-2">
				<div class="d-flex flex-row justify-content-center">
					<a id="scoreboard-home-team-url"><img id="scoreboard-home-logo" src=""></a>
				</div>
				<div class="d-flex flex-row justify-content-center">
					<p id="scoreboard-home-record"></p>
				</div>
			</div>

		</div>
	</div>
	<div class="d-flex flex-row justify-content-center">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table id="game-preview" class="table table-sm table-responsive">
						<thead>
							<tr>
								<th>STAT</th>
								<th id="stats-table-road-abbrev"></th>
								<th id="stats-table-home-abbrev"></th>
							</tr>
						</thead>
						<tbody>
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	function getGame(){
		let boxscoreIndex = "{{boxscore_index}}";
		let year = "{{year}}";
		let gameUrl = "{% url 'nba:game_feed' year=2011 boxscore_index='201411170LAC' %}".replace(/2011/,year.toString()).replace('201411170LAC',boxscoreIndex.toString());
		fetch(gameUrl).then(function(response){
			return(response.json());
		}).then(function(data){
			let info = data;
			writeScoreboard(data);
		});

	}
	function writeScoreboard(data){
		let year = "{{year}}"
		let homeGame = data["home_gm"];
		let roadGame = data["road_gm"];
		let roadTeam = data["road_tm"];
		let homeTeam = data["home_tm"];
		let roadTeamLogoUrl = "https://d2p3bygnnzw9w3.cloudfront.net/req/202101252/tlogo/bbr/" + roadTeam["_abbreviation"] + "-2021.png";
		let homeTeamLogoUrl = "https://d2p3bygnnzw9w3.cloudfront.net/req/202101252/tlogo/bbr/" + homeTeam["_abbreviation"] + "-2021.png";
		let roadTeamUrl = "{% url 'nba:team' team_id='CHI' year=2021 %}".replace('2021',year.toString()).replace('CHI',roadTeam["_abbreviation"]);
		let homeTeamUrl = "{% url 'nba:team' team_id='CHI' year=2021 %}".replace('2021',year.toString()).replace('CHI',homeTeam["_abbreviation"]);
		$("#scoreboard-road-team-url").attr("href", roadTeamUrl);
		$("#scoreboard-home-team-url").attr("href", homeTeamUrl);
		$("#scoreboard-home-logo").attr("src", homeTeamLogoUrl);
		$("#scoreboard-road-logo").attr("src", roadTeamLogoUrl);
		$("#scoreboard-road-tm").prepend(`<h2>${roadTeam["_name"]||""}</h2>`);
		$("#scoreboard-home-tm").prepend(`<h2>${homeTeam["_name"]||""}</h2>`);
		$("#scoreboard-road-points").prepend(`<h3>${homeGame["_points_allowed"]||""}</h3>`);
		$("#scoreboard-home-points").prepend(`<h3>${homeGame["_points_scored"]||""}</h3>`);
		$("#scoreboard-game-date").prepend(`${homeGame["_date"]||roadGm["_date"]||""}  ${homeGame["_time"]||roadGame["_time"]||""}`);
		$("#scoreboard-game-time").prepend(`${homeGame["_time"]||roadGame["_time"]||""}`);
		let roadRecord = JSON.parse(data["road_record"]);
		let homeRecord = JSON.parse(data["home_record"]);
		let roadSched = JSON.parse(data["road_sched"]);
		let homeSched = JSON.parse(data["home_sched"]);
		$("#scoreboard-away-record").prepend(`${roadGame["_wins"]||roadRecord[roadRecord.length-1]["wins"]||'0'}-${roadGame["_losses"]||roadRecord[roadRecord.length-1]["losses"]||'0'}`);
		$("#scoreboard-home-record").prepend(`${homeGame["_wins"]||homeRecord[homeRecord.length-1]["wins"]||'0'}-${homeGame["_losses"]||homeRecord[homeRecord.length-1]["wins"]||'0'}`);
		findGameOdds(data["odds"],roadTeam["_name"],homeTeam["_name"]);
		$("#stats-table-road-abbrev").prepend(`${roadTeam["_abbreviation"]||""}`);	
		$("#stats-table-home-abbrev").prepend(`${homeTeam["_abbreviation"]||""}`);
		let boxscore = JSON.parse(data["boxscore"])[0];
		console.log(boxscore);	
	}
	function findGameOdds(odds,awayTeam,homeTeam){		
		for(var x of Object.keys(odds)){
			console.log(odds[x]["away_team"]);
			if(odds[x]["away_team"].includes(awayTeam)||odds[x]["home_team"].includes(homeTeam)){				
				var thisGameOdds = odds[x]["odds"];
				var thisGameTotal = odds[x]["total"];
				console.log('this game odds');
				console.log(thisGameOdds);	
				$("#scoreboard-game-odds").append(`<strong>POINT SPREAD:  </strong>${thisGameOdds}`);
				$("#scoreboard-game-total").append(`<strong>TOTAL:  </strong>${thisGameTotal}`);					
			}
		}
		
	}

	document.addEventListener('DOMContentLoaded', getGame);
</script>

{% endblock %}